version: 2
jobs:
  build:
    docker:
      - image: google/cloud-sdk
    steps:
      - checkout
      - run:
        name: Authentication gcp
        command: |
          if [ "$CIRCLE_BRANCH" == "master" ]; then
            echo ${DEV_GCLOUD_SERVICE_KEY} | gcloud auth activate-service-account --key-file=-
            echo "export GCLOUD_PROJECT_ID=${DEV_GCLOUD_PROJECT_ID}" >> $BASH_ENV
            ls -al ~
            gcloud --quiet config set project ${DEV_GCLOUD_PROJECT_ID}
          fi
          gcloud compute ssh wp-dev-01-vm --zone=us-east1-d --command="ls ~/apps/wordpress/htdocs/wp-content/themes"
workflows:
  version: 2
  build_and_test:
    jobs:
      - build:
          filters:
            branches:
              only: /master/
  