gcloud-sdk: &gcloud-sdk
  docker:
  - image: google/cloud-sdk
  working_directory: ~

# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
jobs:
  build:
    <<: *gcloud-sdk
    steps:
    - attach_workspace:  # 将存储空间的root路径attach到指定的路径
        at: . 
    - run:
        name: Authentication gcp
        command: |
          if [ "$CIRCLE_BRANCH" == "master" ]; then
            echo ${DEV_GCLOUD_SERVICE_KEY} | gcloud auth activate-service-account --key-file=-
            echo "export GCLOUD_PROJECT_ID=${DEV_GCLOUD_PROJECT_ID}" >> $BASH_ENV
            ls -al ~
            gcloud --quiet config set project ${DEV_GCLOUD_PROJECT_ID}
          fi
    - run:
        name: build
        command: |
          echo "gcloud compute ssh wp-dev-01-vm --zone=us-east1-d --command='ls'""
          gcloud compute ssh wp-dev-01-vm --zone=us-east1-d --command="ls ~/apps/wordpress/htdocs/wp-content/themes"
    # - run:
    #     name: get manifests-git-repository
    #     command: |
    #       git clone "https://${GITHUB_ACCESS_TOKEN}:x-oauth-basic@github.com/test/manifests.git"
    #       cd manifests
    #       if [ "$CIRCLE_BRANCH" != "dev" ] && [ "$CIRCLE_BRANCH" != "stg" ] && [ "$CIRCLE_BRANCH" != "prod" ]; then
    #         git checkout dev
    #       else
    #         git checkout $CIRCLE_BRANCH
    #       fi
workflows:
  version: 2.1
  build and deploy:
    jobs:
    - setup
    - build:
        requires:
        - setup
    - approve:
        type: approval
        requires:
        - build
        filters:
          branches:
            only: /master/
    - deploy:
        requires:
        - build
        - approve
        filters:
          branches:
            only: /master/
